<nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" width="300px">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>
</nav>

<div class="search-results">
  <% products_info = SearchController.new.get_all_products %>
  <% (0...products_info[0].length).each do |i| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to "#{products_info[0][i]} ", "#{products_info[2][i]}" %></h5>
      <p class="card-text"><%= products_info[1][i] %></p>
    </div>
  </div>
  <br>
  <% end %>
</div>