/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

@import "bootstrap";

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.search-results {
	padding: 20px;
}

.card {
	border: none;
}

.hoverinfo {
	position: field;
	top: 15px;
	left: 15px;
	font-size: 28px;
	color: #ffffff;
	cursor: pointer;
	z-index: 999999;
}

.hoverinfo p {
	display: none;
	color: #000000;
	z-index: 999999;
}

.hoverinfo:hover p {
	background-color: rgba(255, 255, 255, 0.7);
	display: block;
	z-index: 999999;
}